* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #00806c;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 40px;

  .app-container {
    width: 100%;
    max-width: 1200px;
    min-height: 80vh;
    height: 100%;
    display: block;
    background: white;
    border-radius: 4px;
  }
}